body {
  padding: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#root {
  // background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  font-family: 'Cantarell', sans-serif;
}

#background-image {
  background-image: url('https://images.squarespace-cdn.com/content/v1/52540926e4b0d49865bee20d/1525949988855-GMKRG7DQ2UKZYSYRBQ1M/ke17ZwdGBToddI8pDm48kLR2rgEg1jPu1GtjV4K1vZ97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0scl71iiVnMuLeEyTFSXT3qwhEKW1IfUKL5GUNLdDa9MjuPXcXiDenG_NSvE-2lGCg/HAN_0062.jpg');
  background-size: cover;
  position: absolute;
  object-fit: fill;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  filter: blur(2px) brightness(82%);
  margin: 0;
}


// HOMEPAGE 
.hero {
  padding: 0px !important;
  .container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    .title {
      border: 0.01em solid rebeccapurple;
      width: 280px;
      height: 300px;
      border-radius: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;
      background-color: rgba(245, 245, 245, 0.671);
      h1 {
        color: rebeccapurple;
        font-size: 30px;
        margin: 5%;
        font-family: 'Cantarell', sans-serif;
        letter-spacing: 4px;
      }
      img {
        height: 125px;
        width: 120px;
      }
    }
    .description {
      display: block;
      color: black;
      background-color: rgba(245, 245, 245, 0.527);
      width: 100%;
      font-size: 1.2em;
      padding: 1em;
      .subtitle {
        // background-color: rosybrown;
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
          button {
            font-family: 'Cantarell', sans-serif;
            color: black;
            background-color: transparent;
            border: 1px solid black;
            outline: none;
            width: 100px;
            color: black;
          }
      }
    }
  }
}


// REGISTER PAGE 
.modal-background {
  animation: modalAppear ease-in forwards 0.5s;
}
  .close {
    display: flex;
    align-self: flex-end;
  }
    .modal-content {
      border-radius: 3%;
      height: 70%;
      width: 80%;
      background-color: whitesmoke;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1em;
      animation: modalAppear ease-in forwards 0.5s;
    }
    img {
      height: 10%;
      margin-bottom: 1em;
    }
    .form {
      // background-color: firebrick;
      height: 110%;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .control {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        p {
          font-family: 'Cantarell', sans-serif;
          font-size: 13px;
          color: red;
        }
      }
      input {
        font-family: 'Cantarell', sans-serif;
        width: 100%;
      }
      button {
        font-family: 'Cantarell', sans-serif;
        background-color: rebeccapurple;
        color: whitesmoke;
      }
      .image-input {
        font-family: 'Cantarell', sans-serif;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
        border-radius: 50px;
        background-color: white;
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
        input[type="file"] {
          color:#363636;
          font-size: 12px;
          width: 180px;
        }
        }
        .login-link {
          color: rebeccapurple;
        }
      }



// LOGIN PAGE 
.login-content {
  height: 54%;
  display: flex;
  justify-content: center;
  img {
    height: 15%;
  }
  .form {
    height: 150%;
  }
}
    .notRegistered {
      font-size: 15px;
      text-align: center;
      // height: 65px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: black;
      padding: 10px;
      a {
        color: rebeccapurple;
      }
    }

// FITNESS CLASSES.JS 
#buffer {
  height: 60px;
}

.classes-section {
  background-color: whitesmoke;
  font-family: 'Cantarell', sans-serif;
  padding: 0px;
  // display: flex;
  .header {
    position: fixed;
    z-index: 10;
    button {
      background-color: whitesmoke;
      font-size: 0.9em;
      margin-left: 1em;
      margin-top: 1em;
      padding: 0.5em;
      background-color: #fcfcfc;
      border: 0.2em solid rebeccapurple;
      border-radius: 1em;
      font-family: 'Cantarell', sans-serif;
      &:hover {
        color: rebeccapurple;

      }
    }
    h2 {
      margin-right: 1em;
      margin-top: 1em;
      padding: 0;
    }
  }
  .container {
    display: flex;
    flex-direction: column;

  }
  .title {
    display: flex;
    width: 90%;
    align-self: center;
    justify-content: space-between;
    margin: 0;
  .subtitle {
    display: flex;
    justify-content: space-between;
    height: 100%;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    font-weight: 700;
    width: 70%;
    padding-bottom: 0px;
    margin: 0;

  }
  .select {
    font-size: 12px;
    select {
      font-family: 'Cantarell', sans-serif;
      border: 1px solid rebeccapurple;
    }
  }
}
.classes-container {
  // background-color: yellow;
  padding: 1em;
  width: 100%;
}
  .class-card {
    display: flex;
    
    margin-bottom: 10px;
    justify-content: space-between;
    border-top: 2px solid rebeccapurple;
    background-color: #fcfcfc;
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;
      button {
        border-radius: 50px !important;
        background-color: rebeccapurple;
        color: whitesmoke;
        font-weight: 700;
      }
    }
  }
}


// SINGLE FITNESS CLASS.JS

.fitnessclass-section {
  font-family: 'Cantarell', sans-serif;
  height: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 10px 48px;
  button {
    background-color: rebeccapurple;
    border-radius: 20px;
    border: 2px solid rebeccapurple;
    color: whitesmoke;
    font-weight: 700;
    padding: 2px 6px;
    width: 25px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: scroll;
    .subtitle {
      border-bottom: 2px solid rebeccapurple;
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      height: 10%;
      justify-content: space-between;
      margin: 0;
      h4 {
        font-size: 15px;
      }
      .title {
        height: 118%;
        font-size: 23px;
        display: flex;
        justify-content: space-between;
        margin: 0;
        #class-time {
          height: 50%;
          display: flex;
          align-self: center;
          font-size: 23px;
        }
          h2 { 
          font-weight: 700;
        }
    }
  }
    .singlefitness-container {
      height: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        height: 100px;
        width: 100px;
        margin: 0;
      }
      h2 {
        font-weight: 700;
      }
    }
    .card {
      border-top: 2px solid rgba(102, 51, 153, 0.4);
      border-bottom: 2px solid rgba(102, 51, 153, 0.4);
      padding: 10px 10px;
      text-align: justify;
      background-color: transparent;
      margin-top: 5px;
    }
    .button {
      background-color: rebeccapurple;
      color: whitesmoke;
      font-weight: 700;
      width: 90%;
      display: flex;
      align-self: center;
    }
  }
}



// PROFILE


.profile-section {
  height: 100%;
  .container {
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 22px;
      h2 {
        font-size: 1.2em;
        display: flex;
        margin-bottom: 10px;
      }
      .profile-header {
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
        font-size: 1.5em;
        border-bottom: 2px solid rebeccapurple;
          img {
            padding: 0 0.8em;
            height: 50%;
            width: 38%;
            display: flex;
            padding-bottom: 10px;
            margin: 0;
          }
      }
      .booked-classes {
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        align-items: center;
        height: 65%;
        .noClassesBooked {
          // border: 1px solid rgb(167, 164, 164);
          // box-shadow: 1px 1px darkgray;
          // background-color: rgb(231, 231, 231);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          text-align: center;
          height: 100px;
          width: 300px;
          p {
            font-size: 18px;
          }
        }
        .card {
          width: 100%;
          background-color: snow;
          border-radius: 1em;
          margin-bottom: 5px;
          border-bottom: 2px solid grey;
          display: flex;
          justify-content: space-between;
          padding: 0 1em;
          h3 {
            font-weight: 700;
          }
          button {
            width: 25%;
          }
        }
        a {
          width: 75%;
        }
        .button {
          display: flex;
          align-self: center;
          width: 100%;
          background-color: rebeccapurple;
          color: whitesmoke;
          font-weight: 700;
          margin-right: 1em;
          margin-top: 1em;
        }
      }
  }
}

// BOROUGH.JS 

.borough-section {
  background-color: whitesmoke;
  height: 100%;
  .borough-title {
    font-weight: normal;
    display: flex;
    justify-content: center;
    font-size: 25px;
    border-bottom: 2px solid rebeccapurple;
    padding-bottom: 10px;
  }
}

// SEARCH FORM
.SearchForm {
  padding-bottom: 0.1em;
      input[type=text] {
      width: 130px;
      transition: width 0.4s ease-in-out;
      font-size: 15px;
      &:focus {
        width: 100%
      }
    }
}



//  BOROUGH CARD 
.columns {
  padding: 1em 0.5em;
  .borough-card {
    box-shadow: 1em 0em 1em #dbdbdb;
    background-color:  #fcfcfc;
    &:hover {
      transform : translateY(-15px);
    }
    .borough-image {
      // border-radius: 0px 0px 20px 20px;
      opacity: 0.9;
    }
    #Lambeth {
      transform: translateY(15px);
    }
    .borough-cardContent {
      background-color:  #fcfcfc;
      border-radius: 25px;
      padding: 10px;
      opacity: 0.9;
      }
    .borough-subtitle {
      display: flex;
      justify-content: center;
      font-size: 0.8em;
      text-align: center;
      font-weight: bold;
    }
  }
}


// BOOKING CONFIRMATION 
.confirmation-section {
  height: 100%;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 95%;
    .title {
      display: flex;
      flex-direction: column;
      height: 170px;
      justify-content: space-between;
      align-items: center;
      img {
        height: 125px;
        width: 120px;
        }
        h3 {
          font-size: 25px;
        }
    }
    .subtitle {
      // background-color: seagreen;
      height: 350px;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 16px;
      }
      h3 {
       color: rebeccapurple;
      }
      button {
        background-color: rebeccapurple;
        color: whitesmoke;
        font-weight: 600;
        height: 45px;
      }
    }
  }
}



// NAVBAR 

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  background-color: rgba($color:whitesmoke, $alpha: 1);
  .navbar-item {
    // background-color: firebrick;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-link {
    // background-color: firebrick;
    height: 100px;
    width: 100px;
    padding: 0;
    display: flex;
    align-items: flex-start;
    a {
      // background-color: yellow;
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 2rem;
        height: 110%;
        margin: 0;
      }
    }
  }
  a{
    color: rebeccapurple;
    font-size: 1.3em;
  }
}



@media only screen and (min-width: 600px) {
  #background-image {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5a01f131b1ffb664756496a7/1571680774825-JH0ZPHPYZLBLTUCWO84O/ke17ZwdGBToddI8pDm48kJRqFJ19D4P4EwsC9z3fiewUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dkV64dCjSK7Zaaf7dwPYPO_gHf_vjqrS5WJoq1nmwotrP7cJNZlDXbgJNE9ef52e8w/PHOTO-2019-04-17-15-06-30.jpg?format=2500w');
    object-fit: cover;
    background-size: cover;
  }
  .hero, .is-fullheight {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    .hero-body {
      align-items: flex-start !important;
      padding: 0;
      // background-color: yellow;
      .container {
        margin: 0;
        min-width: 100%;
        height: 9vh;
        // background-color: red;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        .title {
          display: flex;
          justify-content: center;
          margin-left: 0.2em;
          margin-top: 0.2em;
          margin-bottom: 0;
          height: 77px;
          width: 86px;
          h1 {
            font-size: 0.23em;
          }
          img {
            height: 40%;
            width: 30%;
            margin: 0;
          }
        }
        .description {
          p {
            display: none;
          }
          background-color: transparent;
          padding: 0;
          width: 30%;
          height: 100%;
          .subtitle {
            // background-color: firebrick;
            padding-top: 0;
            align-items: flex-end;
            height: 110%;
            flex-direction: column;
            justify-content: space-evenly;
            margin-right: 0.1em;
            button {
              background-color: rgba(245, 245, 245, 0.527);
              &:hover, &:focus {
                background-color: rebeccapurple;
                color: whitesmoke;
                border: none;
              }
            }
          }
        }
      }
    }
    .description-desktop {
      z-index: 1;
      display: flex;
      flex-direction: column;
      background-color:rgba(245, 245, 245, 0.56);
      position: absolute;
      left: 50px;
      padding: 1.5em;
      font-size: 1.2em;
      font-weight: bold;
      h1 {
        color: rebeccapurple;
        font-size: 3em;
        margin: 5%;
        font-family: 'Cantarell', sans-serif;
        letter-spacing: 4px;
      }
    }
  }
  
  // All Borough Page

  .borough-section {
    .SearchForm {
      .container {
        .field {
          .control {
            input[type=text] {
            width: 100%;
            }
          }
        }
      }
    }
  }

  // All Classes

  .classes-section {
    .header {
      width: 90%;
      // background-color: green;
      left: 5%;
    }
  }
  .form {
    input {
      width: 50vw;
    }
  }
  #Lambeth {
    transform: translateY(0px) !important;
  }
}



.modal {
  .image-input {
    width: 75%;
  }
  .login-content {
    height: 400px;
    width: 400px;
  }
}


@media only screen and (min-width: 1000px) {
        .description {
          .subtitle {
            // background-color: yellow;
            flex-direction: row !important;
            align-items: center !important;
          }
}
}

@keyframes modalAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalDisappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}






